*{
	box-sizing: border-box;
}
body{
	background: $background;
	color:$color;
	font-family: 'Open Sans', sans-serif;
	font-size:$fontsize;
}
.container{
	max-width: 1170px;
	margin: 0 auto;
}
img{
		display: block;
		max-width: 100%;
	}
header{
	background: url(../img/bg.jpg) center;
	background-size: cover;
	text-align: center;
	padding: 30px 0px 130px;
	font-family: $family;

}
	a{
	text-decoration: none;
	display: block;
	color: #fff;
   }

	.top_nav {
		@include flexbox;
		@include justify-content(space-around);
		line-height: 40px;
		margin-bottom: 200px;
	}
	.logo{
  		font-size: 18px;
  		text-transform: uppercase;
  		font-weight: bold;
	}

	 nav ul{
		@include flexbox;
		@include justify-content(space-between);
		line-height: 30px;
		height: 30px;

	}
	nav ul li{
		margin-left: 10px;
		padding: 0px 10px;

	}
	nav ul li:hover{
		border: 1px solid #fff;
		border-radius: 15px;
	}
	.header_text{
		margin-bottom: 215px;
		h3{
			font-size: 35px;
			font-family: $family_two;
			margin-bottom: 40px;
		}
		p{
			max-width: 630px;
			margin: 0 auto;
			line-height: 30px;
		}
	}
	.btn-bottom{
	margin-top: 100px;
}
.btn-bottom a{
	width: 46px;
	height: 46px;
	border-radius: 50%;
	color: #fff;
	background: $color_slide;
	font-size: 24px;
	position: relative;
	margin: 0 auto;
}
.btn-bottom a:after{
	 content: "Ë…";
	 position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

h2{
	text-transform: uppercase;
	color: $texth;
	font-size: 20px;
	margin-bottom: 30px;
}
p{
	font-size: 14px;
	width: 40%;
	margin: 0 auto;
	color: $textp;
	line-height: 30px;
	font-family: $family;
}
.portfolio{
	padding: 80px 0px 100px;
	text-align: center;
	color:$textcolor;
	a{
		color: $textcolor;
		position: relative;
	}
	
	.filter nav ul{
		display: inline-block;
		margin-bottom: 60px;
		@include flexbox;
		@include justify-content(space-around);
		line-height: 30px;
		max-width: 50%;
		margin: 0 auto;
		height: 60px;
	}

	nav{
		margin: 70px 0px 60px;
	}
	nav ul li{
		margin-right: 10px;
		margin-left: 10px;
		position: relative;
		border: none;
	}
	nav ul li a{
		position: relative;
		line-height: 60px;

	}
	nav ul li a:after{
		content:"";
		width: 40px;
		height: 2px;
		position: absolute;
		bottom: 0;
		background: $color_slide; 
		left: 50%;
  	    transform: translate(-50%, -50%);
  	    display: none;

	}
	nav ul li:hover a:after{
		 display: block;
	}
}
.grid-item{
	margin-bottom: 10px;
}

.team{
	text-align: center;
	padding: 100px 70px;
	background: $color;

}
.my_slider{
	margin-top: 100px;
	padding-bottom: 40px;
}
.slick-dots{
        position: absolute;
	    left: 50%;
	    display: block;
	    text-align: center;
	    height: 40px;
	    list-style: none;
	    text-align: center;
	    top:100%;
	    transform: translate(-50%);
}
.slick-dots li button {
  border-radius: 50%;
  width:10px;
  height: 10px;
  border: 1px solid $color_slide;
}
.slick-dots li button:hover,
.slick-dots li.slick-active button{
  background-color: $color_slide;
   border-radius: 50%;
 }
 
.man{
	text-align: right;

	@include clearfix;
	.man_img{
		float: left;
	}
	.man_info{
	text-align: right;
	float: right;
	p{
		width: 400px;
		margin-left:10px;
	}
		h3{
			color: $texth;
			font-size: 20px;
		}
		span{
			display: block;
			color: $textp;
			line-height: 30px;
		}
	}
}
.already{
	background: url(../img/bg2.jpg);
	padding: 50px 0px 60px;
	text-align: center;
	font-size: 20px;
	strong{
		line-height: 60px;
	}
	.btn{
		border: 1px solid #fff;
		border-radius: 20px;
		display: block;
		background: transparent;
		padding: 0px 20px;
		line-height: 40px;
		width: 150px;
		margin: 0 auto;
		cursor: pointer;
	}
	.btn:hover{
		border-color: $color_slide;
		color: $color_slide;
	}
}
.test{
	padding: 80px 0px 100px;
	text-align: center;
	font-size: 20px;
	.my_slider{
		padding: 50px 70px;
		background: $color;
		margin-top: 50px;
	}
	.man_info{
		text-align: left;
		float: right;
		display: block;
		width: 80%;
		line-height: 30px;
		p{
			width: 90%;
			margin-bottom: 20px;

		}
		h3{
			color: $color_slide;
			text-transform: uppercase;
			font-weight: bold;
		}
		span{
			text-transform: uppercase;
		}
	}

	.slick-dots{
	    position: absolute;
	    left: 50%;
	    display: block;
	    text-align: center;
	    height: 40px;
	    list-style: none;
	    text-align: center;
	    top:85%;
	    transform: translate(-50%);
	}
}
.contact{
	text-align: center;
	padding: 60px 0px 0px;
	background: $color;
}	
#map {
	display: block;
    height: 400px;
    border: 1px solid black;
}
.map{
	margin-top: 70px;
}

.footer{
	text-align: center;
	padding: 70px 0px;
	p{
		line-height: 30px;
	}
}



