$color: #fff;
$textcolor:#525252;
$textp:#81868e;
$texth:#333b46;
$background: #f3f3f3;
$color_slide:#19bd9a;
$family: 'Open Sans', sans-serif;
$family_two:'Source Sans Pro', sans-serif;
$fontsize: 16px;

